@import 'globalVars';

$height: 300px;
$background-color: $secondary-color;
$text-color: $secondary-text;

.parallax {
    /* The image used */
    background-color: $background-color;
    /* Set a specific height */
    height: $height;
    color: $text-color;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}