@import 'globalVars';

$height: 300px;

.parallax-wrapper{
    padding-top:60px;
    height: $height;
}

.parallax {
    height: 100%;
    /* The image used */  
    background-color: $secondary-color;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text{
    height: 100%;
    color: $secondary-text;

    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}