@import 'globalVars';

/* $background-color: $primary-color;
$text-color: $primary-text; */

.mainMenu {
    height: $menu-height;
    width: 100%;
    color: $primary-text;
    background-color: $secondary-color;
}