<div id="scrollableContainer" [style.overflow-y]="overflowStatus" class="scrollableContainer" portfolioScrollFixed [enabled]="isEnabled"
    scrollSelector="mainSection">
    <div *ngFor="let section of scrollableObservable | async;let i = index" [id]="section.id" class="mainSection" fxLayout>
        <div [className]="section.configuration.contentClassName" fxFlex="50" fxFlexOrder="1">
            <portfolio-skill-pie [data]="section.sections" [id]="section.id"></portfolio-skill-pie>
        </div>
        <div fxFlex="50" fxFlexOrder="2">
            <div [style.overflow-y]="overflowStatus" class="detailContainer" fxLayoutWrap portfolioScrollFixed [enabled]="isEnabled"
                scrollSelector="detail">
                <div class="detail" *ngFor="let detail of section.sections" [innerHtml]="detail.html" [fxFlexOrder]="detail.order" fxFlex="50">
                </div>
            </div>
        </div>
    </div>
</div>