::-webkit-scrollbar {
    display: none;
}

.mainSectionAlternative {
    color: yellow;
}

.mainSection {
    height:100%;
    color: brown;
    background-color: #f5f5f5;
}

.detailSection {
    color: darkblue;
}

.detailSectionAlternative {
    color: deeppink;
}