@import 'globalVars';

::-webkit-scrollbar {
    display: none;
}

.scrollableContainer{
    height: $scrollable-container-height;
    width:100vw;
    background-color: $primary-color;
}

.mainSection {
    height: $scrollable-container-height;
    flex-wrap: wrap;
}

.detailContainer {
    overflow-y:scroll;
    height:100%
}

.mainContent{
    background-color: $primary-color;
}

.detail {
    height:50%;
    color: darkblue;
    background-color: $light-gray;
}