@import 'globalVars';
::-webkit-scrollbar {
    display: none;
}

.scrollableContainer {
    height: $scrollable-container-height;
    width: 100vw;
    background-color: $primary-color;
    position: relative;
}

.circ {
    height: 300px;
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .sect {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 150px solid red;
    border-top: 150px solid transparent;
    transform-origin: bottom left;
  }

.mainSection {
    height: $scrollable-container-height;
    flex-wrap: wrap;
    .circle-container{
        position: relative;
        width: 100%;
        padding-bottom:100%;
        .section-circle{
            border-radius: 50%;     
            background: yellow;
            border: 3px solid red;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
        
            margin: auto;
        }
        .s-50{
            width: 50%;
            height: 50%;
        }
        .s-90{
            width: 90%;
            height: 90%;
        }
    }
    
}

.detailContainer {
    overflow-y: scroll;
    height: 100%
}

.mainContent {
    background-color: $primary-color;
}

.detail {
    height: 50%;
    color: darkblue;
    background-color: $light-gray;
}