@import 'globalVars';

.mat-grid-list{
    position: initial;
}

.content-page{
    padding-left:60px
}

.lateral-tool-bar{
    background-color: $light-gray;
    height:100%;
    width:60px;
    position:fixed;
}